.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > div {
    margin-bottom: 20px;
    width: 125px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
